.canlendar,
.monthwidget {
  max-width: 380px;
  height: 320px;
  border-radius: 12px;
  padding: 16px;
  font-size: 12px;
  user-select: none;
}

.canlendar-header,
.canlendar-weeks,
.monthwidget-header {
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 36px;
}

.canlendar-title,
.monthwidget-title {
  flex: auto;
  padding-left: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.canlendar-header > .icon,
.monthwidget-header > .icon {
  box-sizing: border-box;
  width: 40px;
  height: 100%;
  padding: 0 11px;
  cursor: pointer;
}

.canlendar-weeks > span {
  flex: auto;
  text-align: center;
  vertical-align: middle;
}

.canlendar-body {
  height: calc(100% - 72px);
}

.canlendar-date,
.monthwidget-month {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 14.28%;
  height: 16.66%;
  cursor: pointer;
}

.canlendar-date.disabled,
.monthwidget-month.disabled {
  cursor: not-allowed;
}

.canlendar-date.today,
.canlendar-date.selected,
.monthwidget-month.today,
.monthwidget-month.selected {
  position: relative;
}

.canlendar-date.today::before,
.canlendar-date.selected::before,
.monthwidget-month.today::before,
.monthwidget-month.selected::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: -1;
}
