.combobox,
.datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32px;
}

.combobox-input,
.datepicker-input {
  flex: auto;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 4px;
  background: inherit;
  color: inherit;
  vertical-align: top;
  font-size: inherit;
}

.combobox-icon,
.datepicker-icon {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  stroke: inherit;
  fill: inherit;
  cursor: pointer;
}
