.popup {
  position: fixed;
  z-index: 9;
  /* 不允许边框和内边距，否则动画的高度不能小于内边距 */
  border: none !important;
  padding: none !important;
  will-change: height;
  transition: height 0.2s linear;
  overflow: hidden;
}

.popup-fixed-left,
.popup-fixed-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.popup-fixed-left {
  left: 0;
}

.popup-fixed-right {
  right: 0;
}

.popup-fixed-top,
.popup-fixed-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.popup-fixed-top {
  top: 0;
}

.popup-fixed-bottom {
  bottom: 0;
}
